* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #080710;
}

.clickable-area {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: limegreen;
  display: none;
  place-items: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.end-screen,
.main-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #0d3b66;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main-menu.active,
.end-screen.active {
  display: grid;
  place-items: center;
}

.main-menu {
  cursor: pointer;
}

.container {
  max-width: 800px;
  padding: 0 32px;
}

.main-menu h1 {
  font-size: 70px;
  margin: 8px 0;
}

.container p {
  font-size: 20px;
  line-height: 2;
  font-weight: 800;
  margin: 0;
}

.end-screen h1 {
  font-size: 50px;
}

.reaction-time-text {
  font-size: 70px;
  font-weight:900;
}

.end-screen .play-again-btn {
  border: none;
  background: #56bf49;
  font-size: 20px;
  padding: 8px 32px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
}

.end-screen .container a :hover{
  background: #44a337;
}

.res{
  border-radius: 20px;
  font-size: 30px;
  color: white;
}

#average{
  margin-top: 20px;
  font-weight: 700;
}



/* Form Style */


.sec{
  display: initial;
}

.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient(
      #de0e0e,
      #2374f6
  );
  left: -80px;
  top: -70px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #de0e0e,
      #2374f6
  );
  right: -30px;
  bottom: -70px;
}
form{
  height: 520px;
  width: 440px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  border: 1px solid white;
  padding: 0 10px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}
#log{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

#log:hover{
  color: white;
  transition: 0.4s;
  background-color: #080710;
}

@media (max-width:500px) {
  .shape{
    display: none;
  }
}


